analise_phishing.json
{
  "name": "Resposta Automática a Phishing",
  "nodes": [
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\nitem = _input.first()\nemail_dados = item.json\nanexos_binarios = item.get('binary') or {} \n\ncorpo_email = email_dados.get('text', '')\nanexos = email_dados.get('attachments', [])\npadrao_url = r'https?://[^\\s]+'\nlinks = re.findall(padrao_url, corpo_email)\nlinks_limpos = [l.strip('().,') for l in links]\n\n\nsuspeitas = ['.xyz', '.top', '.pw', '.bit', '.tk', '.zip', '.click']\npalavras_urgencia = ['urgente', 'suspensa', 'bloqueio', 'recadastro', 'vencimento', 'multa']\nextensoes_perigosas = ['.exe', '.bat', '.scr', '.vbs', '.js', '.zip', '.rar', '.iso', '.click']\n\n\ncorpo_email_low = corpo_email.lower()\ntem_urgencia = any(palavra in corpo_email_low for palavra in palavras_urgencia)\n\nscore = 0\nif any(any(dominio_suspeito in l for dominio_suspeito in suspeitas) for l in links_limpos):\n    score += 40\n  \nif tem_urgencia:  \n    score += 20\n\n\nanexos_analisados = []\nscore_anexo = 0\nalerta_tamanho = False\n\n\nfor key, anexo in anexos_binarios.items():\n    nome = anexo.get('fileName', '').lower()\n    tamanho_raw = str(anexo.get('fileSize', '0'))\n    tamanho_limpo = ''.join(filter(str.isdigit, tamanho_raw))\n    tamanho_bytes = int(tamanho_limpo) if tamanho_limpo else 0\n    tamanho_mb = tamanho_bytes / (1024 * 1024) \n\n    anexo_perigoso = any(nome.endswith(ext) for ext in extensoes_perigosas)\n    \n    if tamanho_mb > 500:\n        alerta_tamanho = True\n        score_anexo += 40\n\n    if anexo_perigoso:\n        score_anexo += 60\n\n    anexos_analisados.append({\n        \"nome\": nome,\n        \"tamanho_mb\": round(tamanho_mb, 2),\n        \"suspeito\": anexo_perigoso\n    })\n\n\nscore_final = min(score + score_anexo, 100)\n\nif score_final >= 70:\n    nivel = \"ALTO\"\nelif score_final >= 30:\n    nivel = \"MÉDIO\"\nelse:\n    nivel = \"BAIXO\"\n    \nremetente = email_dados['from']['value'][0]['address']\n\n\nreturn {\n    \"analise_phishing\": {\n        \"score_total\": score_final,\n        \"nivel_risco\": nivel,\n        \"remetente\": remetente,\n        \"links_detectados\": links_limpos,\n        \"assunto\": email_dados.get('subject', 'Sem Assunto'),\n        \"id_mensagem\": email_dados.get('id'),\n        \"anexos\": anexos_analisados,\n        \"alerta_arquivo_grande\": alerta_tamanho,\n        \"possui_anexos\": len(anexos_analisados) > 0\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-96, 0],
      "id": "<NODE_ID_1>",
      "name": "Python: Análise de Risco e Phishing"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": true
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-304, 0],
      "id": "<NODE_ID_2>",
      "name": "Trigger: Monitoramento de Caixa de Entrada",
      "credentials": {
        "gmailOAuth2": {
          "id": "<YOUR_GMAIL_CREDENTIAL_ID>",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "<CONDITION_ID_1>",
                    "leftValue": "={{ $json.analise_phishing.nivel_risco }}",
                    "rightValue": "ALTO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "<CONDITION_ID_2>",
                    "leftValue": "={{ $json.analise_phishing.nivel_risco }}",
                    "rightValue": "MÉDIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "<CONDITION_ID_3>",
                    "leftValue": "={{ $json.analise_phishing.nivel_risco }}",
                    "rightValue": "BAIXO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [112, -16],
      "id": "<NODE_ID_3>",
      "name": "Gateway: Triagem de Severidade de Risco"
    },
    {
      "parameters": {
        "chatId": "<YOUR_TELEGRAM_CHAT_ID>",
        "text": "=🚨 *ALERTA CRÍTICO DE PHISHING* 🚨\n\nAmeaça detectada com score de *{{ $json.analise_phishing.score_total }}/100*.\n\n📧 *Assunto:* {{ $json.analise_phishing.assunto }}\n👤 *Remetente:* `{{ $json.analise_phishing.remetente }}`\n\n❌ *MOTIVOS:*\n- Links Suspeitos: {{ $json.analise_phishing.links_detectados.join('\\n') }}\n\n- Anexos Perigosos: {{ $json.analise_phishing.possui_anexos ? 'Sim' : 'Não' }}\n{{ $json.analise_phishing.alerta_arquivo_grande ? '⚠️ ARQUIVO GIGANTE DETECTADO!' : '' }}\n\n🛠 *Ação Recomendada:* Bloquear remetente imediatamente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [416, -208],
      "id": "<NODE_ID_4>",
      "name": "Alerta: Incidente Crítico Detectado",
      "webhookId": "<YOUR_WEBHOOK_ID_1>",
      "credentials": {
        "telegramApi": {
          "id": "<YOUR_TELEGRAM_CREDENTIAL_ID>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "<YOUR_TELEGRAM_CHAT_ID>",
        "text": "=⚠️ *AVISO: E-MAIL SUSPEITO* ⚠️\n\nScore de Risco: *{{ $json.analise_phishing.score_total }}/100*  \n📧 *Assunto:* {{ $json.analise_phishing.assunto }} \n👤 *De:* `{{ $json.analise_phishing.remetente }}`  \n\n💡 *Nota:* O e-mail contém termos de urgência ou links incomuns. Recomenda-se cautela ao abrir.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [416, 32],
      "id": "<NODE_ID_5>",
      "name": "Alerta: Suspeita de Risco Médio",
      "webhookId": "<YOUR_WEBHOOK_ID_2>",
      "credentials": {
        "telegramApi": {
          "id": "<YOUR_TELEGRAM_CREDENTIAL_ID>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Trigger: Monitoramento de Caixa de Entrada').item.json.id }}",
        "labelIds": ["<YOUR_GMAIL_LABEL_ID>"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, 48],
      "id": "<NODE_ID_6>",
      "name": "Classificação: Atribuição de Tag de Segurança",
      "webhookId": "<YOUR_WEBHOOK_ID_3>",
      "credentials": {
        "gmailOAuth2": {
          "id": "<YOUR_GMAIL_CREDENTIAL_ID>",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_SHEETS_ID>",
          "mode": "list",
          "cachedResultName": "Registrar em Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<YOUR_GOOGLE_SHEETS_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "<SHEET_GID>",
          "mode": "list",
          "cachedResultName": "Pagina 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<YOUR_GOOGLE_SHEETS_ID>/edit#<SHEET_GID>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data/Hora": "={{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}",
            "Remetente": "={{ $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.remetente }}",
            "Assunto": "={{ $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.assunto }}",
            "Nível de Risco": "={{ $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.nivel_risco }}",
            "Score Total": "={{ $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.score_total }}",
            "Evidência (Links)": "={{  $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.links_detectados.length > 0 ?  $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.links_detectados.join(', ') : ' ' }}",
            "Anexos Analisados": "={{  $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.anexos.length > 0 ?  $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.anexos.map(a => a.nome + \" (\" + a.tamanho_mb + \"MB)\").join(', ') : ' ' }}",
            "Status da Ação": "={{  $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.nivel_risco == 'ALTO' ? 'Bloqueio e Resposta Automática' : ( $node[\"Python: Análise de Risco e Phishing\"].json.analise_phishing.nivel_risco == 'MÉDIO' ? 'Etiquetado e Alerta Enviado' : 'Apenas Registrado') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data/Hora",
              "displayName": "Data/Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remetente",
              "displayName": "Remetente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Assunto",
              "displayName": "Assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nível de Risco",
              "displayName": "Nível de Risco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score Total",
              "displayName": "Score Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Evidência (Links)",
              "displayName": "Evidência (Links)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anexos Analisados",
              "displayName": "Anexos Analisados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status da Ação",
              "displayName": "Status da Ação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [752, 304],
      "id": "<NODE_ID_7>",
      "name": "Audit Log: Registro Geral de Incidentes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<YOUR_GOOGLE_SHEETS_CREDENTIAL_ID>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gateway: Triagem de Severidade de Risco').item.json.analise_phishing.id_mensagem }}",
        "emailType": "text",
        "message": "🛡️ AVISO AUTOMÁTICO DE SEGURANÇA\n\nEsta mensagem foi retida automaticamente pelo sistema de triagem de segurança.\n\nMotivo:\nForam detectados links suspeitos e/ou anexos não autorizados, classificados como potencialmente perigosos de acordo com as políticas de segurança.\n\nAções recomendadas:\n\n    • Não abra links ou anexos da mensagem original.\n\n    • Caso o conteúdo seja legítimo, entre em contato com o Departamento de TI para validação.\n\n    • Se algum link ou anexo já tiver sido acessado, notifique imediatamente a equipe de segurança.\n\n\nEste aviso foi gerado automaticamente por um fluxo de segurança (n8n – Triagem de Incidentes).\nPor favor, não responda a este e-mail.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [784, -208],
      "id": "<NODE_ID_8>",
      "name": "Mitigação: Resposta Automática de Bloqueio",
      "webhookId": "<YOUR_WEBHOOK_ID_4>",
      "credentials": {
        "gmailOAuth2": {
          "id": "<YOUR_GMAIL_CREDENTIAL_ID>",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Python: Análise de Risco e Phishing": {
      "main": [
        [
          {
            "node": "Gateway: Triagem de Severidade de Risco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Monitoramento de Caixa de Entrada": {
      "main": [
        [
          {
            "node": "Python: Análise de Risco e Phishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gateway: Triagem de Severidade de Risco": {
      "main": [
        [
          {
            "node": "Alerta: Incidente Crítico Detectado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta: Suspeita de Risco Médio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Log: Registro Geral de Incidentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta: Incidente Crítico Detectado": {
      "main": [
        [
          {
            "node": "Mitigação: Resposta Automática de Bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta: Suspeita de Risco Médio": {
      "main": [
        [
          {
            "node": "Classificação: Atribuição de Tag de Segurança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificação: Atribuição de Tag de Segurança": {
      "main": [
        [
          {
            "node": "Audit Log: Registro Geral de Incidentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mitigação: Resposta Automática de Bloqueio": {
      "main": [
        [
          {
            "node": "Audit Log: Registro Geral de Incidentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "<VERSION_ID>",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "<INSTANCE_ID>"
  },
  "id": "<WORKFLOW_ID>",
  "tags": []
}

